html{
  box-sizing:border-box;
}
*,*::after,*::before{
  box-sizing:inherit;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1024px;
}

.image-container {
  flex: 0 0 50%;
  padding: 4px;
  position: relative;
}

.image {
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 4px;
  position: absolute;
  top: 0;
  transition: opacity .5s ease-in-out;
  right: 0;
  width: 100%;
}

.image[src] {
  opacity: 1;
}

.image-background {
  background: linear-gradient(135deg, #455A64, #B0BEC5);
  padding-top: 66.666666%;
}
