html{
  box-sizing:border-box;
}
*,*::after,*::before{
  box-sizing:inherit;
}

body {
  background: #FAFAFA;
  color: #212121;
  font-family: monospace;
  font-size: 16px;
}

.hidden {
  display: none;
}

.title {
  font-size: 32px;
  padding: 16px 0;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 6px;
}

.filter {
  text-align: center;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 13px 0;
}

.tag {
  border: 2px solid #212121;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}

.tag:hover {
  cursor: pointer;
}

.tag.selected {
  border-color: #F44336;
  color: #F44336;
}

.section-container {
  text-align: center;
}

.section-title {
  font-size: 23px;
  padding: 23px 0;
}

.images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.image-container {
  flex: 0 0 100%;
  margin: 3px 0;
  position: relative;
}

.image {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .5s ease-in-out;
  right: 0;
  width: 100%;
}

.image[srcset] {
  opacity: 1;
}

.image-background {
  background: linear-gradient(135deg, #455A64, #B0BEC5);
  padding-top: 66.666666%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 3px;
  }

  .image-container {
    flex: 0 0 calc(50% - 6px);
    margin: 3px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    padding: 0;
  }
}
